<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <p>
      Hi {{ user.first_name }}, thank you for contacting us.
      We have received your inquiry and will get back to you soon. You are
      welcome to reply to this email if you wish to add further details.
    </p>
    <p>
      <strong>Help needed for: </strong> {{ form_data['contact_type'] }}<br>
      <strong>Hours needed: </strong> {{ form_data['hours_needed'] }}<br>
      <strong>Services needed:</strong>
      <ul>
        {% for service in form_data['services_needed'] %}
          <li>{{ service }}</li>
        {% endfor %}
      </ul>
      <p style="white-space: pre-wrap;">Additional details: {{ form_data['message'] }}</p>
      <p>Contacted from the {{ form_data['page'] }} page</p>
    </p>
  </body>
</html>
