<div class="row sticky-header justify-content-center">
  <div class="col-12 col-md-10">
    <div class="row">
      <div class="col-6">
        {% block logo_link %}
          <a href="{{ url_for('home', _anchor='#contact') }}">
        {% endblock logo_link %}
          <img id="nav-img" class="img-fluid" src="{{ url_for('static', filename='img/lf-logo.jpg') }}">
        </a>
      </div>
      <div class="col-6">
        <a id="menu-btn" data-drawer-trigger aria-controls="site-menu" aria-expanded="false">
          <div id="menu-title">
            Menu
          </div>
          <!-- <img id="menu-icon" src="{{ url_for('static', filename='img/menu.svg') }}" alt=""> -->
          <svg id="menu-icon" class="me-2 me-sm-0" viewBox="0 0 295 295" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-64.000000, -51.000000)">
                    <g id="Group" transform="translate(64.000000, 51.000000)">
                        <circle id="Oval" stroke-width="15" cx="147.5" cy="147.5" r="140"></circle>
                        <rect id="Rectangle" x="89" y="139" width="117" height="17" rx="7"></rect>
                        <rect id="Rectangle" x="89" y="81" width="117" height="16" rx="8"></rect>
                        <rect id="Rectangle" fill="#FFFFFF" x="89" y="198" width="117" height="16" rx="7"></rect>
                    </g>
                </g>
            </g>
        </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- https://github.com/tomaszbujnowicz/vanilla-js-drawer -->

<section class="drawer" id="site-menu" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">

      </div>
      <div class="drawer__close" data-drawer-close aria-label="Close Drawer"></div>
    </div>
    <div class="drawer__content">
      {% block home_link %}
        <a href="{{ url_for('home') }}">
      {% endblock home_link %}
        <div class="menu-link">
          <p>Home</p>
        </div>
      </a>

      <a href="#" data-drawer-trigger aria-controls="nested-menu" data-drawer-close>
        <div class="menu-link position-relative">
          <p>Our Services <span class="caret-right"></span></p>
        </div>
      </a>

      <a href="{{ url_for('about') }}">
        <div class="menu-link">
          <p>About us</p>
        </div>
      </a>

      {% block contact_link %}
        <a href="{{ url_for('home', _anchor='contact') }}">
          <div class="menu-link">
            <p>Get in touch</p>
          </div>
        </a>
      {% endblock contact_link %}

    </div>
  </div>
</section>

<section class="drawer" id="nested-menu" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">

      </div>
      <div class="drawer__close" data-drawer-close aria-label="Close Drawer"></div>
    </div>
    <div class="drawer__content">
      <a href="{{ url_for('alzheimers_care') }}">
        <div class="menu-link">
          <p>Alzheimer's Care</p>
        </div>
      </a>

      <a href="{{ url_for('parkinsons_care') }}">
        <div class="menu-link">
          <p>Parkinson's Care</p>
        </div>
      </a>

      <a href="{{ url_for('companion_services') }}">
        <div class="menu-link">
          <p>Companion Services</p>
        </div>
      </a>

      <a href="{{ url_for('24_hour_watch') }}">
        <div class="menu-link">
          <p>24 Hour Watch</p>
        </div>
      </a>

      <a href="{{ url_for('respite_care') }}">
        <div class="menu-link">
          <p>Respite Care</p>
        </div>
      </a>

      <a href="{{ url_for('adult_care') }}">
        <div class="menu-link">
          <p>Adult Care</p>
        </div>
      </a>
    </div>
  </div>
</section>