{% extends 'base.html' %}

{% block container %}
  <div class="row title-margin justify-content-center">
    <div class="col-10">
      {% block content %}
        <div class="row">
          <div class="order-md-2 col-10 col-md-5 col-xl-4 mt-5">
            {% block image %}
              <img src="{{ url_for('static', filename='img/isaac-quesada-FiIgXyC3t84-unsplash.jpg') }}" class="img-fluid page-img">
            {% endblock image %}
          </div>
          <div class="order-md-1 col-12 col-md-7 col-xl-8 pe-md-5">
            {% block text %}{% endblock text %}
          </div>
        </div>
        <div id="contact" class="row mt-5">
          {% include '_contact-form.html' %}
        </div>
      {% endblock content %}
    </div>
  </div>
{% endblock container %}