{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block head %}
  {{ super() }}

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
{% endblock head %}

{% block container %}
  <div id="home-1" class="inverse">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center message {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="message">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center g-0">
      <div class="col-11 col-xl-10">
        <div class="row justify-content-center">
          <div class="d-none d-md-block col-md-5">
            <a>
              <img id="home-logo" class="img-fluid mt-3" src="{{ url_for('static', filename='img/logo-white.png') }}" alt="">
            </a>
          </div>
          <div class="home-nav align-items-center col-11 col-md-7 mt-md-3">
            <div class="dropdown">
              <a href="#" role="button" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-text="our services dd">our services</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('alzheimers_care') }}">Alzheimer's Care</a></li>
                <li><a class="dropdown-item" href="{{ url_for('parkinsons_care') }}">Parkinson's Care</a></li>
                <li><a class="dropdown-item" href="{{ url_for('companion_services') }}">Companion Services</a></li>
                <li><a class="dropdown-item" href="{{ url_for('24_hour_watch') }}">24 Hour Watch</a></li>
                <li><a class="dropdown-item" href="{{ url_for('respite_care') }}">Respite Care</a></li>
                <li><a class="dropdown-item" href="{{ url_for('adult_care') }}">Adult Care</a></li>
              </ul>
            </div>
            <!-- <div><a href="{{ url_for('about') }}" data-text="about">about</a></div> -->
            <div><a href="#contact" data-text="contact">contact</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col col-md-11 col-lg-8">

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        <img id="home-logo" class="d-block d-md-none m-auto" src="{{ url_for('static', filename='img/logo-white.png') }}" alt="">
        <h1 id="home-title" class="text-center text-md-start">Utah<span class="h2">'</span>s Premier <br><span class="text-nowrap">In-Home</span> Caregivers</h1>
        <p>
          Receive trusted in-home caregiving services in Washington County, Davis
          County, and Weber County with Like Family Personal Care. Our non-medical
          home caregivers provide care for senior citizens and adults with chronic health
          conditions or injuries.
        </p>
        <p>
          Discover our personal care pricing and receive answers to your home care
          questions 24/7 with one of our friendly care specialists by calling our in-home
          care helpline below.
        </p>
      </div>
    </div>
    <div class="mt-2 row justify-content-center text-center">
      <div class="col col-sm-11">
        <a href="tel:+14354148551" class="btn">
          Call Now (435) 414-8551
        </a>

        <div class="home-next">
          <a href="#home-2">
            <h5>
              Learn more
            </h5>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="home-2" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h3 class="mb-4 text-center">Our Services</h3>
        <p>
          At Like Family Personal Care, we treat your loved one as if they were our very
          own mother, father, sibling, or grandparent &ndash; <strong>and that's how it should be.</strong>
          We devote our careers to preserving and improving the quality of life for our
          clients. Call our helpline now to speak with a care specialist who will help you
          determine your next best steps, answer any questions you may have about our
          services, and provide you with the best-fit Utah caregiver for your particular
          needs.
        </p>
        <div class="service-icons row text-center">
            <div class="col-6 col-md-4">
            <a href="{{ url_for('alzheimers_care') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>Alzheimer's Care</h5>
            </a>
            </div>
            <div class="col-6 col-md-4">
            <a href="{{ url_for('parkinsons_care') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>Parkinson's Care</h5>
            </a>
            </div>
            <div class="col-6 col-md-4">
            <a href="{{ url_for('companion_services') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>Companion Services</h5>
            </a>
            </div>
            <div class="col-6 col-md-4">
            <a href="{{ url_for('24_hour_watch') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>24 Hour Watch</h5>
            </a>
            </div>
            <div class="col-6 col-md-4">
            <a href="{{ url_for('respite_care') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>Respite Care</h5>
            </a>
            </div>
            <div class="col-6 col-md-4">
            <a href="{{ url_for('adult_care') }}">
              <img src="{{ url_for('static', filename='img/care.png') }}" class="care-icon img-fluid" alt="">
              <h5>Adult Care</h5>
            </a>
          </div>
        </div>
        <div class="text-center">
          <a class="btn mt-4 mb-2" href="#contact">
            Get in touch
          </a>
        </div>
        <div class="home-next">
          <a href="#home-3">
            <h5>
              See what others have to say
            </h5>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="home-3" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 position-relative">
        <h3 class="my-5 text-center">Testimonials</h3>
        <div class="position-relative">
          <div class="testimonials">
            <div>
              <p class="lead">
                <i>
                  "I had a great experience with Like Family! I had spine surgery and being
                  alone was very concerned about getting home from the hospital and then being
                  able to care for myself. Gage at Like Family was amazing and exceeded my
                  expectations. His medical knowledge and concern for my comfort relieved a lot of
                  my stress and worry. From helping with food, to making the bed, to keeping an
                  eye on the incision, and even going out to get medicine, I was in very good
                  hands!! Thank you Gage, I'm very grateful for your help and consideration."
                </i>
                <br>
              </p>
              <h5 class="text-center">&ndash; Bill B.</h5>
            </div>
            <div>
              <p class="lead">
                <i>
                  "Last week when I was visiting my aunt down in southern Utah, I was
                  thoroughly impressed with your guys service. I am always weary about
                  people working with my aunt because she has temper issues, but she said
                  that she has never had issues with you guys, and that all of your team is
                  super professional, and some of them take it to the next level, and are
                  just so kind. My heart is happy knowing she is good in your hands. Keep up
                  the good work!"
                </i>
                <br>
              </p>
              <h5 class="text-center">&ndash; Bradyn J.</h5>
            </div>
            <div>
              <p class="lead">
                <i>
                  "Gage and his team are AWESOME. They have been taking great care of my 84
                  year old father for the last 6 months. His whole team goes way above
                  anytime and every time we have a request. Would definitely recommend to
                  everybody."
                </i>
              </p>
              <h5 class="text-center">&ndash; Travis T.</h5>
            </div>
            <div>
              <p class="lead">
                <i>
                  "Gage and the rest of the company really are incredible extremely caring
                  people. They live by their name LIKE FAMILY that is how they treat all
                  their patients. I would recommend them over and over again."
                </i>
              </p>
              <h5 class="text-center">&ndash; Emily R.</h5>
            </div>
          </div>
          <div id="controls-container">
            <svg class="chevron left" viewBox="0 0 1792 1792" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none"
              fill-rule="evenodd">
                <g id="Group" fill-rule="nonzero">
                  <g class="circle">
                    <path d="M717,1267 L1171,813 C1183.66667,800.333333
                    1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                    1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                    C654.666667,250 639.666667,256.333333 627,269 L525,371
                    C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                    512.333333,448.333333 525,461 L832,768 L525,1075
                    C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                    512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                    654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                    717,1267 Z M1536,768 C1536,907.333333 1501.66667,1035.83333
                    1433,1153.5 C1364.33333,1271.16667 1271.16667,1364.33333
                    1153.5,1433 C1035.83333,1501.66667 907.333333,1536 768,1536
                    C628.666667,1536 500.166667,1501.66667 382.5,1433
                    C264.833333,1364.33333 171.666667,1271.16667 103,1153.5
                    C34.3333333,1035.83333 0,907.333333 0,768 C0,628.666667
                    34.3333333,500.166667 103,382.5 C171.666667,264.833333
                    264.833333,171.666667 382.5,103 C500.166667,34.3333333
                    628.666667,0 768,0 C907.333333,0 1035.83333,34.3333333
                    1153.5,103 C1271.16667,171.666667 1364.33333,264.833333
                    1433,382.5 C1501.66667,500.166667 1536,628.666667 1536,768 Z"
                    ></path>
                  </g>
                  <path class="arrow" d="M717,1267 L1171,813 C1183.66667,800.333333
                  1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                  1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                  C654.666667,250 639.666667,256.333333 627,269 L525,371
                  C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                  512.333333,448.333333 525,461 L832,768 L525,1075
                  C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                  512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                  654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                  717,1267 Z" id="Path"></path>
                </g>
              </g>
            </svg>
            <svg class="chevron right" viewBox="0 0 1792 1792" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none"
              fill-rule="evenodd">
                <g id="Group" fill-rule="nonzero">
                  <g class="circle">
                    <path d="M717,1267 L1171,813 C1183.66667,800.333333
                    1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                    1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                    C654.666667,250 639.666667,256.333333 627,269 L525,371
                    C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                    512.333333,448.333333 525,461 L832,768 L525,1075
                    C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                    512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                    654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                    717,1267 Z M1536,768 C1536,907.333333 1501.66667,1035.83333
                    1433,1153.5 C1364.33333,1271.16667 1271.16667,1364.33333
                    1153.5,1433 C1035.83333,1501.66667 907.333333,1536 768,1536
                    C628.666667,1536 500.166667,1501.66667 382.5,1433
                    C264.833333,1364.33333 171.666667,1271.16667 103,1153.5
                    C34.3333333,1035.83333 0,907.333333 0,768 C0,628.666667
                    34.3333333,500.166667 103,382.5 C171.666667,264.833333
                    264.833333,171.666667 382.5,103 C500.166667,34.3333333
                    628.666667,0 768,0 C907.333333,0 1035.83333,34.3333333
                    1153.5,103 C1271.16667,171.666667 1364.33333,264.833333
                    1433,382.5 C1501.66667,500.166667 1536,628.666667 1536,768 Z"
                    ></path>
                  </g>
                  <path class="arrow" d="M717,1267 L1171,813 C1183.66667,800.333333
                  1190,785.333333 1190,768 C1190,750.666667 1183.66667,735.666667
                  1171,723 L717,269 C704.333333,256.333333 689.333333,250 672,250
                  C654.666667,250 639.666667,256.333333 627,269 L525,371
                  C512.333333,383.666667 506,398.666667 506,416 C506,433.333333
                  512.333333,448.333333 525,461 L832,768 L525,1075
                  C512.333333,1087.66667 506,1102.66667 506,1120 C506,1137.33333
                  512.333333,1152.33333 525,1165 L627,1267 C639.666667,1279.66667
                  654.666667,1286 672,1286 C689.333333,1286 704.333333,1279.66667
                  717,1267 Z" id="Path"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>

        <div class="mt-5 row justify-content-center">
          <div class="col col-md-10 col-lg-7 col-xl-6">
            <a href="https://www.care.com/b/l/like-family-home-health-llc/hurricane-ut" class="btn text-center d-block m-auto">
              See our Care.com client testimonials
            </a>
          </div>
        </div>
        <div class="home-next">
          <a href="#contact">
            <h5>
              Have a question?
            </h5>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        {% include '_contact-form.html' %}
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<script type="module">

  var slider = tns({
    container: '.testimonials',
    // autoplay: true,
    // autoplayTimeout: 10000,
    center: true,
    //autoplayButton: false,
    autoplayHoverPause: true,
    mouseDrag: true,
    gutter: 150,
    edgePadding: 50,
    responsive: {
      768: {
        edgePadding: 100,
      },
    },
    controlsContainer: '#controls-container',
    navPosition: 'bottom',
    autoplayPosition: 'bottom',
    autoplayText: [
      "&#x23F5",
      '&#x23F8',
    ],
  });
</script>
{% endblock end_scripts %}
